<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      data-layout-decorator="~{layout/masterlayout}">
<head>
    <title>The ebicycle Rental System  </title>
</head>
<body>
    <div layout:fragment="content" style="padding-top:1em;" class="container">
        <h3>Welcome to the ebicycle Rental System<sup>&reg;</sup></h3>
        <hr/>
        <div style="font-size: 1em">
            <img th:src="@{/images/banner1.png}" class="float-left" style="padding:10px;" /><br/><br/>
            <p>We are a top-flight, fully-digitized bicycle Rental.
                Find out more <a href="/ebicyclerental/public/home/about">about us</a> and
                and learn how we can serve you with a widest variety of bicycles, all for your satisfaction as well as your entertainment.
                You can also take a virtual tour</a>,
                of our world-class facilities and be amazed at all what we have in stock
                for you, your family and friends.</p>

            <p>
            <p sec:authorize="isAnonymous()">Already have access as a Member, ebicyclerental User or System Administrator? Then, simply <a href="/ebicyclerental/public/home/login">Sign-In.</a>
                to access the full range of services available to you, based on your role and access rights.</p>
        </div>
    </div>

    <th:block layout:fragment="footer"></th:block>

</body>
</html>